<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Expires" CONTENT="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UBSurvey</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/edit.css" />
<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>        
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/underscore/underscore.js"></script>    
</environment>
<environment include="Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/underscore/underscore-min.js"></script>
</environment>
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
