@model UBSurvey.Models.V_ProgressInfo;

@{
    ViewData["Title"] = "Progress";
    Layout = "~/Views/Shared/Survey/_Layout.cshtml";
    
}
<link rel="stylesheet" type="text/css" media="screen" href="~/css/Example/main2.css" />

<environment include="Development">
    <script src="~/js/Example/view2.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>    
</environment>
<environment include="Production">    
    <script src="~/js/Example/view2.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>    
</environment>

<script>
    var surveyInfo = {
        info : '@Model._info',
        strSurvey : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Survey)),
        sendReuslt : function(result){

            var data = {
                _info : this.info,
                _surveyResult : JSON.parse(result)
            };

            
            $.ajax({
                type : 'POST',
                url : '/Survey/Complete',
                contentType: 'application/json',
                data : JSON.stringify(data),
                success : function (res) {
                    console.log(res);
                }, 
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus +  "Error: " + errorThrown);
                }   
            });
        }
    };
</script>

<div id="ubSurvey"></div>
