@model UBSurvey.Models.SurveyInfo;

@{
    ViewData["Title"] = "Progress";
    Layout = "~/Views/Shared/Survey/_Layout.cshtml";
    
}

<link rel="stylesheet" type="text/css" media="screen" href="~/css/Example/main2.css" />
<environment include="Development">
    <script src="~/js/Example/view2.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/Example/view2.js"></script>
</environment>
<script>
    var strSurvey = @Html.Raw(Model.Survey);
    
    // var link = document.location.pathname; 
    // console.log(link);


</script>


<div id="ubSurvey"></div>

