@model UBSurvey.Models.V_ProgressInfo;

@{
    ViewData["Title"] = "Progress";
    Layout = "~/Views/Shared/Survey/_Layout.cshtml";
    
}

<link rel="stylesheet" type="text/css" media="screen" href="~/css/Example/main2.css" />

<environment include="Development">
    <script src="~/js/Example/view2.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>        
</environment>
<environment include="Production">    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>        
    <script src="~/js/Example/view2.js"></script>
</environment>

<script>

    var surveyInfo = {
        info : '@Model._info',
        strSurvey : '@Html.Raw(Model.Survey)',
        sendReuslt : function(result){
            $.ajax({
                type : 'POST',
                url : '/Survey/Complete',
                data : { _info : this.info, _surveyResult : result},
                success : function (res) {
                    console.log(res);
                }, 
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus +  "Error: " + errorThrown);
                }   
            });
        }
    };
    
</script>


<div id="ubSurvey"></div>

