@{
    ViewData["Title"] = "Detail Page";
}

@section Scripts {
<environment include="Development">
    <script src="~/js/vue.min.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
<script src="~/js/axios.min.js"></script>
}


<div id="container"> 

    <table class="table table-bordered text-center">
        <tr>
            <td class="info">서비스명</td>
            <td><input type="text" class="form-control" ></td>
        </tr>
        <tr>
            <td class="info">제목</td>
            <td><input type="text" class="form-control" ></td>
            
        </tr>
        <tr>
            <td class="info" >배포기간</td>
            <td><input type="text" class="form-control" ></td>
            <td class="info" >마감인원</td>
            <td><input type="text" class="form-control" ></td>
        </tr>
    </table>


</div>