@model UBSurvey.Models.UBSurveyEditInfo;
@{
    ViewData["Title"] = "Edit Page";
}

@section Scripts {
<environment include="Development">
    <script src="~/js/vue.min.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
}

<div id="container" > 
    
        <table class="table table-bordered text-center">
            <tr>
                <td class="info">서비스명</td>
                <td colspan="3" class="text-left">{{ editinfo.ChannelName }}</td>
            </tr>
            <tr>
                <td class="info">제목</td>
                <td colspan="3"><input type="text" class="form-control" v-model="editinfo.Survey.Title" id="title" ></td>
            </tr>
            <tr>
                <td class="info" >배포기간</td>
                <td class="form-inline">
                    <input type="text" style="width:auto" class="form-control"  id="startDate" v-model="startDate"> ~
                    <input type="text" style="width:auto" class="form-control" id="endDate" v-model="endDate">
                </td>
                <td class="info" >마감인원</td>
                <td><input type="text" class="form-control " v-model="editinfo.Survey.LimitPersons" v-on:keyup="onlyNumber" id="limitperson" ></td>
            </tr>
        </table>
        <hr>
        <div class="row">
            <div class="col-sm-10">
                
                    <button class="btn btn-success" v-on:click="register" id="register">
                        <template v-if="editinfo.SurveyInfo.Survey">
                            설문수정
                        </template>
                        <template v-else="">
                            설문등록
                        </template>
                    </button>
                <button class="btn btn-info" v-on:click="preView" v-if="editinfo.SurveyInfo.Survey">미리보기</button>
            </div>
            <div class="col-sm-2 text-right">
            <button class="btn btn-primary " v-on:click="save" >저장</button>
            </div>
            
        </div>
        <form id="myform" name="myform" method="post" action="/edit/prev" target="popup_window">
            <input type="hidden" id="surveyJson" name="survey" value="">
        </form>
        <div>
        </div>        
</div>

<script type="text/javascript">
    var vue = new Vue({
        el: '#container',
        data : {
            editinfo : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model))
        },

        computed : {
            startDate :{
                get : function() {
                    return this.formatDate(this.editinfo.Survey.StartDate);
                },
                set : function(newVal){
                    this.editinfo.Survey.StartDate = newVal;   
                }
            },
            endDate :{
                get : function() {
                    return this.formatDate(this.editinfo.Survey.EndDate);
                },
                set: function(newVal){
                    this.editinfo.Survey.EndDate = newVal;   
                }
            }
        },
        mounted : function(){
            var self = this;
            $("#startDate").datepicker({
                dateFormat: "yy-mm-dd",
                onSelect: function(dateText) { 
                    self.editinfo.Survey.StartDate = dateText;
                }
            });
            
            $("#endDate").datepicker(
                {
                dateFormat: "yy-mm-dd",
                onSelect: function(dateText) { 
                    self.editinfo.Survey.EndDate = dateText;
                }
            });
        },
        methods : {
            save : function(){
                
                if( this.editinfo.Survey.Title  == '' || this.editinfo.Survey.Title == null)
                    return alert('Title이 입력되지 않았습니다.');
                
                if(this.editinfo.Survey.StartDate > this.editinfo.Survey.EndDate )
                    return alert('날짜 형식이 올바르지 않습니다.');

                if(this.editinfo.Survey.LimitPersons == '' )
                    return alert('마감인원이 올바르지 않습니다.');

                // 새 등록 일경우 아래 와 같이 set 하지 않으면 오류 난다....... 재성 임의로 여기다가 박았는데.. 바꿔줘
                this.editinfo.SurveyInfo._channelID = this.editinfo.Survey.ChannelID;
                
                $.ajax({
                    type : 'post',
                    url : '/api/UBSurvey/save',
                    contentType: 'application/json',
                    data : JSON.stringify(this.editinfo),
                    success : function (res) {
                        if(res.success)
                        {
                            var url = '/home/List?channelid=' + '@Model.Survey.ChannelID';
                            $(location).attr('href',url);
                        } 
                        else
                        {
                            alert(res.message);
                        }
                    }, 
                    error: function(XMLHttpRequest, textStatus, errorThrown) { 
                        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
                    }   
                });
            },
            register: function(){
                    
                var actionUrl = '@Html.Raw(@Url.Action("index","Edit"))' + this.editinfo.UrlParameter;
                
                var child = window.open(actionUrl,'_blank');
                if( child.opener == null)
                    child.opener = self;

            },
            onlyNumber : function(e){
                this.editinfo.Survey.LimitPersons = this.editinfo.Survey.LimitPersons.replace(/[^0-9]/g,"");
            },
            preView : function(){
                 window.open("", "popup_window", "width=1000, height=900, scrollbars=no");
                 $("#surveyJson").val( JSON.stringify(this.editinfo.SurveyInfo.Survey));
                $("#myform").submit();
            },
            formatDate : function(date){
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                return [year, month, day].join('-');
            }
        }
    });

    function sendSurveyJson(val)
    {
        vue._data.editinfo.SurveyInfo.Survey = JSON.parse(val);
    }
</script>

