@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
<environment include="Development">
    <script src="~/js/vue.min.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
<script src="~/js/axios.min.js"></script>
}

<div id="container"> 
    <table class="table table-bordered text-center">
        <tr>
            <td class="info">제목</td>
            <td><input type="text" class="form-control" v-model="searchData.Title"></td>
            <td class="info">상태</td>
            <td><input type="text" class="form-control" v-model="searchData.approve"></td>
        </tr>
        <tr>
            <td class="info">서비스명</td>
            <td><input type="text" class="form-control" v-model="searchData.service"></td>
            <td class="info" >설문기간</td>
            <td><input type="text" class="form-control" v-model="searchData.startDate"></td>
        </tr>
    </table>
    <div style="margin-bottom:15px"><button class="btn btn-success">설문등록</button> <button class="btn btn-info pull-right">검색</button></div>
    <table class="table table-bordered table-hover">
    <tr class="info">
        <th>NO</th>
        <th>설문제목</th>
        <th>기간</th>
        <th>상태</th>
        <th>참여인원</th>
        <th>삭제</th>
    </tr>
    <tr v-for="s in surveys">
        <td>1</td>
        <td>{{s.title}}</td>
        <td>{{s.startDateAndEndDate}}</td>
        <td>{{s.approveStatusStr}}</td>
        <td>{{s.limitPersonsStr}}</td>
        <td><button class="btn btn-danger" v-on:click="deletesurvey(s._id)" >삭제</button> </td>
    </tr>     
    </table>
    {{surveys}}
    <ul class="pagination">
        <li v-if="pager.first != null"><a v-href="pager.first"><<</a></li>
        <li v-if="pager.prev != null"><a v-href="pager.prev"><</a></li>
        <li v-for="page in pager.pages"><a v-href="pager.pages[page]">{{page}}</a></li>
        <li v-if="pager.next != null"><a v-href="pager.next">></a></li>
        <li v-if="pager.last != null"><a v-href="pager.last">>></a></li>
    </ul>
</div>

<script>
var vue = new Vue({
    el: '#container',
    data: {
        surveys : [],
        searchData : {title : '', approve : 1, startDate : '2017-01-01', endDate : '2017-01-01'},
        pager : []
    },
    created : function(){
        this.selectSurvey();
    }, 
    methods : {
        selectSurvey :  function() {
            axios.get('/api/UBSurvey/list', this.survey)
            .then(function (response) {
                console.log(response.data);
                vue.surveys = response.data.data;
                vue.pager = response.data.pager;
            })
            .catch(function (error) {
                console.log(error);
            });
        },
        deletesurvey : function(_id){
        console.log(_id);
        //headers = {'Content-Type': 'application/json; charset=UTF-8'};
        axios.post('/api/UBSurvey/delete', {id : _id})
        .then(function (response) {
            vue.selectSurvey();
        })
        .catch(function (error) {
            console.log(error);
        });
        }
    }
})
</script>