@{
    ViewData["Title"] = "Home Page";
}
<table class="table table-bordered table-striped table-hover">
  <tr class="info">
      <th>설문명</th>
      <th></th>
      <th>Product Quality</th>
      <th>Product Quantity</th>
  </tr>
  <tr class="info">
      <td>1</td>
      <td>Wheat</td>
      <td>Good</td>
      <td>200 Bags</td>
  </tr>
  <tr class="warning">
      <td>2</td>
      <td>Rice</td>
      <td>Good</td>
      <td>250 Bags</td>
  <tr class="info">
      <td>3</td>
      <td>Sugar</td>
      <td>Good</td>
      <td>200 Bags</td>
  </tr>  
  <tr class="warning">
      <td>3</td>
      <td>Sugar</td>
      <td>Good</td>
      <td>200 Bags</td>
  </tr> 
  <tr class="info">
      <td>3</td>
      <td>Sugar</td>
      <td>Good</td>
      <td>200 Bags</td>
  </tr>     
</table>