@model System.Tuple<object, object, object>
@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
<environment include="Development">
    <script src="~/js/vue.min.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
}

<div id="container" style="display:none"> 
    <table class="table">
        <tr>
            <td>
                <div class="form-inline">
                    <div class="form-group">
                        <input class="form-control" id="startDate" placeholder="시작일" v-model="searchData.startDate">
                            ~ <input placeholder="종료일" id="endDate" class="form-control" v-model="searchData.endDate">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" v-model="searchData.title" style="width: 350px !important;" placeholder="Search...">
                    </div>
                    <div class="form-group">
                        <button v-on:click=search class="btn btn-info"><span class="glyphicon glyphicon-search"></span> 검색</button>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div style="margin-bottom:15px"><a class="btn btn-success" href="/home/edit/">설문등록</a></div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="info">
                <th>NO</th>
                <th>설문제목</th>
                <th>기간</th>
                <th>참여인원</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tr v-for="(s, index) in surveys">
            <td class="text-right">{{((pager.PageIndex - 1) * 10) + index + 1}}</td>
            <td><a :href="editActionUrl(s._id)">{{s.title}}</a></td>
            <td>{{s.startDateAndEndDate}}</td>
            <td>{{s.limitPersonsStr}}</td>
            <td><button class="btn btn-danger" v-on:click="deletesurvey(s._id)" >삭제</button> </td>
        </tr>     
    </table>
    <center>
    <ul class="pagination text-center">
        <li v-if="pager.First != null"><a :href="createActionUrl(pager.First)"><<</a></li>
        <li v-if="pager.Prev != null"><a :href="createActionUrl(pager.Prev)"><</a></li>
        <li v-for="page in pager.Pages" :class="{active : pager.PageIndex == page }"><a :href="createActionUrl(page)">{{page}}</a></li>
        <li v-if="pager.Next != null"><a :href="createActionUrl(pager.Next)">></a></li>
        <li v-if="pager.Last != null"><a :href="createActionUrl(pager.Last)">>></a></li>
    </ul>
    </center>
    <!-- {{surveys}} -->
</div>

<script type="text/javascript">
var vue = new Vue({
    el: '#container',
    data: {
        surveys : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.Item1)),
        searchData : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.Item3)),
        pager : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.Item2))
    },
    mounted : function(){
        $("#container").show();
        
        $("#startDate").datepicker({
            dateFormat: "yy-mm-dd",
             onSelect: function(dateText) { 
                vue.searchData.startDate = dateText;
            }
        });

        $("#endDate").datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: function(dateText) { 
                vue.searchData.endDate = dateText;
            }
        });
    }, 
    methods : {
        search : function(){
            var params = $.param(this.searchData);
            if(params) {
                var actionUrl = '/?pageindex=' + vue.pager.PageIndex;
            }else{
                 var actionUrl = '/?' + params + '&pageindex=' + vue.pager.PageIndex;
            }
            
            location.href = actionUrl;
        },
        editActionUrl : function(_id){
             return '/home/edit/?surveyid=' + _id;
        },
        createActionUrl : function(pid){
            var params = $.param(this.searchData);
            return '/?' + params + '&pageindex=' + pid;
        },
        deletesurvey : function(_id){
            if(!confirm('해당 설문을 삭제 하시겠습니까?')){
                return;
            }

            $.ajax({
                type : 'POST',
                url : '/api/UBSurvey/delete',
                data : {id : _id},
                success : function (res) {
                    if(res.success){
                        vue.search();
                }, 
                error: function(XMLHttpRequest, textStatus, errorThrown) { 
                    console.log("Status: " + textStatus +  "Error: " + errorThrown);
                }   
            });
        }
    }
})


</script>