@model System.Tuple<dynamic, string>
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="https://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.css">
<script src="https://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.js"></script>

<style>
    .handsontable .htDimmed {
        white-space: nowrap;
        word-wrap: break-word;
        max-width: 180px;
    }
</style>
<div class="row">
    <div class="col-md-12"><h3> &quot;@this.Model.Item2&quot; 결과입니다.</h3></div>
    <div id="handsonTableConatiner" class="col-md-12" style="min-height:84vh">
        <div id="hot"></div>
    </div>
</div>
<script>
var dataObject = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model.Item1))
var hotElement = document.querySelector('#hot');
var hotSettings = {
  data: dataObject,
  width: document.body.clientWidth - 30,
  height : $("#handsonTableConatiner").height(),
  rowHeaders: true,
  colHeaders: true,
  manualRowMove: true,
  manualColumnMove: true,
  manualRowResize: true,
  manualColumnResize: true,
  contextMenu: false,
  readOnly : true
};
var hot = new Handsontable(hotElement, hotSettings);

$(document).ready(function(){
    $("#bodyContents").removeClass("container");
    $("#bodyContents").addClass("container-fluid");
    $("#hot-display-license-info").hide();
})
</script>


