@{
    ViewData["Title"] = "M Index";
    Layout = "~/Views/Shared/ExampleLayout/_Layout.cshtml";
}



<script>
    function ExchangeJsonString (){
        var json = document.getElementById('txtArea');
        var result = document.getElementById('lblResult');
        result.innerHTML = JSON.stringify(json.value);
    }

</script>


<div>
    <input type="text" name="Number" pattern="[0-9]">

    <div><label><h1>Json Text 변환</h1></label></div>
    <div><textarea id='txtArea' cols="80" rows="50"> </textarea></div>
    <div><button id='btnExchageJsonString' onclick="javascription:ExchangeJsonString()">변 환</button></div>
    <div>결과</div>
    <div id='lblResult'></div>
</div>