@{
    ViewData["Title"] = "M Index";
    Layout = "~/Views/Shared/EditLayout/_Layout.cshtml";
}
@section Scripts {
<environment include="Development">
    <script src="~/js/vue.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
<script src="~/js/vue-component.js"></script>
}


<div id="container">
    <div class="col-sm-1 sidenav">
        <p><a href="#" v-on:click=addsuvey(Terms.checkbox)>체크박스</a></p>
        <p><a href="#" v-on:click=addsuvey(Terms.radiogroup)>라디오박스</a></p>
        <p><a href="#" v-on:click=addsuvey(Terms.text)>텍스트</a></p>
    </div> 
    <div class="col-sm-9 text-left"> 
        <div class="scrollable-container">
            <div class="scrollable">
                <div class="tabs">
                    <div v-for="(page, index) in survey.pages">
                        <div class="tab">
                            <input type="radio" :id="page.name + '_' + index" name="tabgroup" class="tabgroup" :checked="page == selectPage"  v-on:click="changedPage(page, index)" >
                            <label class="labelfor" v-bind:class="{setting: page === settings}" :for="page.name + '_' + index">{{page.name}}</label>
                            <div class="tab-container">
                                <div v-for="(el, index) in page.elements">
                                    <template v-if="el.type === Terms.radiogroup">
                                        <radio-com :el=el :settings=settings></radio-com>
                                    </template>
                                    <template v-else-if="el.type === 'checkbox'">
                                        <check-com :el=el :settings=settings></check-com>
                                    </template>
                                    <template v-else-if="el.type === 'text' && el.rows ===  undefined ">
                                        <text-com :el=el :settings=settings></text-com>
                                    </template>
                                    <template v-else-if="el.type === 'text'">
                                        <textarea-com :el=el :settings=settings></textarea-com>
                                    </template>
                                    <template v-else-if="el.type === Terms.rate">
                                        <rate-com :el=el :settings=settings></rate-com>
                                    </template>
                                    <template v-else="">
                                    </template>
                                </div>
                            </div>
                            <!-- <p class="underline"></p> -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="col-sm-2 sidenav">
        <pre>
             {{ settings | pretty }}
        </pre>
        asedfsdf
    </div>
</div>

<script>
    var EventBus = new Vue();
    
    var vue = new Vue({
        el: '#container',
        data: {
            Terms : { radiogroup : "radiogroup", checkbox : "checkbox", text : "text", rate : "rate" },
            selectPage : null,
            settings : null,
            survey:
            {
                title: "의사랑 설문조사 입니다.",
                background_color: "#efefef",
                font_color: "#efefef",
                logo_text: "의사랑",
                logo_background_color: "#efefef",
                logo_font_color: "#efefef",
                pages: [ { name: "page1", elements: [
                        { name: "만족도", type: "radiogroup", title: "의사랑 제품에 만족 합니까?", choices: ["예", "아니요"], other_text : "기타", other_text_len : 100 },
                        { name: "만족도1", type: "radiogroup", title: "의사랑 제품에 만족 합니까?", choices: ["예", "아니요"], other_text : "기타", other_text_len : 100 },
                        { name: "유입경로3", type: "checkbox",  title: "유입경로는?", choices: ["의사랑", "약사회", "인터넷신문"], skip: [{ name: "만족도", choices: ["예"] }] },
                        { name: "유입경로2", type: "text", rows: 5, title: "의사랑에 대한 의견을 적어 주세요." }, 
                        { name: "유입경로1", type: "text", title: "의사랑에 대한 의견을 적어 주세요." },
                        { name: "높낮", type: "rate",  title: "높음 낮음?", choices: [1, 2, 3, 4, 5], min_description : "낮냐?", max_description : "높냐?",  }
                ] }, {  name: "page2", elements: [
                   { name: "11", type: "radiogroup", title: "의사랑 제품에 만족 합니까?", choices: ["예", "아니요"] },
                   { name: "기간", type: "radiogroup", title: "의사랑을 몇년간 사용했나요?", choices: ["1년", "2년이상"] },
                   { name: "말씀", type: "text", required : false, max_len:20, title: "간단한  의견?" },
                ]}
                ]
            }
            },
            methods: {
                changedPage : function(page, index) {
                    this.selectPage = this.survey.pages[index];
                    this.settings = this.survey.pages[index];
                },
                addsuvey: function (type) {
                    var item = { name: "question1", type: type, title: "question1", description: "", is_required : false, skip : []};
                    if (type == this.Terms.checkbox || type == this.Terms.radiogroup) {
                        item.choices = ["item1", "item2", "item3"];
                    }
                    if( type == this.Terms.rate) {
                        item.choices = [1, 2, 3, 4, 5];
                        item.max_description = "높음";
                        item.min_description = "낮음";
                    }
                    this.selectPage.elements.push(item);
                    this.settings = item;
                }, 
                edit : function (el) {
                    this.settings = el;
                }
            }, filters: {
                pretty: function (value) {
                    return JSON.stringify(value, null, 2);
                }
            }, 
            beforeCreate  : function() {
                //Terms = 
            },
            created : function() {
                window.addEventListener('resize', this.resizeWindow);
                this.selectPage = this.survey.pages[0];
                this.settings = this.survey.pages[0];
                EventBus.$on('edit', this.edit);
            }
        }
    );

</script>
