@model UBSurvey.Models.SurveyParams
@{
    ViewData["Title"] = "M Index";
    Layout = "~/Views/Shared/EditLayout/_Layout.cshtml";
}
@section Scripts {
<environment include="Development">
    <script src="~/js/vue.min.js"></script>
    <script src="~/js/Sortable.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
    <script src="~/js/Sortable.min.js"></script>
</environment>
<script src="~/js/edit/Variables.js"></script>
<script src="~/js/edit/vue-component-control.js"></script>
<script src="~/js/edit/vue-component-settinglayer.js"></script>
<script>var p = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(this.Model)); </script>
}

<div id="container">
</div>

<script src="~/js/edit/EditVue.js"></script>