@{
    ViewData["Title"] = "M Index";
    Layout = "~/Views/Shared/EditLayout/_Layout.cshtml";
}
@section Scripts {
<environment include="Development">
    <script src="~/js/vue.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/vue.min.js"></script>
</environment>
<script src="~/js/vue-component.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    
});
</script>
}


<div id="container">
    <button v-on:click="addsuvey">추가</button>
    <div class="col-sm-2 sidenav">
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
        <p><a href="#">Link</a></p>
    </div> 
    <div class="col-sm-8 text-left"> 
        <div class="scrollable-container">
            <div class="scrollable">
                <div class="tabs">
                    <div v-for="(page, index) in survey.pages">
                        <div class="tab">
                            <input type="radio" :id="page.name + '_' + index" name="tabgroup" class="tabgroup" :checked="page == selectPage"  v-on:change="changedPage(page, index)" >
                            <label class="labelfor" :for="page.name + '_' + index">{{page.name}}</label>
                            <div class="tab-container">
                                <div v-for="(el, index) in page.elements">
                                    <template v-if="el.type === 'radio'">
                                        <radio-com :el=el></radio-com>
                                    </template>
                                    <template v-else-if="el.type === 'checkbox'">
                                        <check-com :el=el></check-com>
                                    </template>
                                    <template v-else-if="el.type === 'text' && el.rows ===  undefined ">
                                        <text-com :el=el></text-com>
                                    </template>
                                    <template v-else-if="el.type === 'text'">
                                        <textarea-com :el=el></textarea-com>
                                    </template>
                                    <template v-else="">
                                    </template>
                                </div>
                            </div>
                            <p class="underline"></p>
                        </div>
                    </div>
                </div>
            </div>
            <pre>
            {{ selectPage | pretty }}
            </pre>
        </div>
    </div>
    <div class="col-sm-2 sidenav">
        asedfsdf
    </div>
</div>

<script>
    var vue = new Vue({
        el: '#container',
        data: {
            selectPage : null,
            survey:
            {
                title: "의사랑 설문조사 입니다.",
                background_color: "#efefef",
                font_color: "#efefef",
                logo_text: "의사랑",
                logo_background_color: "#efefef",
                logo_font_color: "#efefef",
                pages: [ { name: "page1", elements: [
                        { name: "만족도", type: "radio", title: "의사랑 제품에 만족 합니까?", choices: [{ item: "예" }, { item: "아니요" }] },
                        { name: "유입경로", type: "checkbox", min_num : 1, max_num : 5, title: "유입경로는?", choices: [{ item: "의사랑" }, {   item: "약사회" }, { item: "인터넷신문" }, { type : "text", item : "기타", rows : 5, required : false, max_len : 100 }], skip: /*or And 추가 */[{ name: "만족도", choices: ["예"] }] },
                        { name: "유입경로", type: "text", rows: 5, title: "의사랑에 대한 의견을 적어 주세요." }, 
                        { name: "유입경로", type: "text", rows: 5, title: "의사랑에 대한 의견을 적어 주세요." }
                ] }, {  name: "page2", elements: [
                   { name: "11", type: "radio", title: "의사랑 제품에 만족 합니까?", choices: [{ item: "예" }, { item: "아니요" }] },
                   { name: "기간", type: "radio", title: "의사랑을 몇년간 사용했나요?", choices: [{ item: "1년" }, { item: "2년이상" }, { item: "5년이상" }, { item: "10년이상" }] },
                   { name: "말씀", type: "text", required : false, max_len:20, title: "간단한  의견?" },
                ]}
                ]
            }
            },
            methods: {
                changedPage : function(page, index) {
                    this.selectPage = this.survey.pages[index];
                },
                addsuvey: function () {
                    this.selectPage.elements.push({ name: "question1", type: "checkbox", title: "question1", choices: [{ item: "item1" }, { item: "item2" }, { item: "item3" }] });
                }
            }, filters: {
                pretty: function (value) {
                    return JSON.stringify(value, null, 2);
                }
            }, 
            created : function() {
                this.selectPage = this.survey.pages[0];
                $(".scrollable").height(screen.height - 246);
            }
        }
    );

</script>
