@{
    ViewData["Title"] = "M Index";
    Layout = "~/Views/Shared/EditLayout/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/view.css" />
<environment include="Development">
    <script src="~/js/Survey/view.js"></script>
</environment>
<environment include="Production">    
    <script src="~/js/Survey/view.js"></script>
</environment>
<script>
    
    var surveyInfo = {
        strSurvey : @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["survey"]))
    };

</script>

<div id="ubSurvey"></div>