body, html{ height:102%; }
/*  navbar */
.navbar { margin-bottom: 0px;}
.sidenav { margin-top: 10px;}

#container { display: none; }

.survey {background:white !important; top:-3px}
.leftnav {color:#87B2F1; padding: 10px 0;}
.leftnav p { border-bottom: 1px solid #eee; }
/* page tab 처리 */
.tabs {position: relative;clear: both;margin: 52px -27px 25px;background: white;}
.tab {float: left; }
.tab fieldset {border:1px solid white; padding:20px; margin-bottom:10px; background-color: #eee; height: 100%}
.tab fieldset.setting {border:1px solid #87B2F1;}
.tab fieldset .question { font-size: 1.2em; font-weight: bold; padding-bottom: 5px;}
.tab .labelfor {background: #eee; padding: 9px; border: 1px solid #ccc; margin-left: 0; position: relative;left: 1px; top: -40px;-webkit-transition: background-color .17s linear;}
.tab .labelfor span.sel { color:#87B2F1 }
.tab .labelfor span {color: #C1C1C1}
.tab .plus {padding: 8px; border: 1px solid #eee; margin-left: -1px; position: relative;left: -2px; top: -39px;color:#87B2F1; }
.tab label.setting {border:1px solid #87B2F1; background: white;color:#87B2F1;}
.tabgroup {display: none;}

.tab-container {height:92vh;position: absolute;top:-1px;width:100%;right:0;padding:20px;border: 1px solid #ccc; overflow-y:scroll;display:none;} 
.tab [type=radio]:checked ~ .labelfor {background: white;border-bottom: 1px solid white;z-index: 2;}
.tab [type=radio]:checked ~ .labelfor ~ .tab-container {z-index: 1;display:block;} 

.rate [type=radio] { display: none;}
.rate label { min-width: 6em;}
.rate [type=radio]:checked ~ label {color: #333;background-color: #e6e6e6;border-color: #adadad; }


.rate_min { padding-right: 3px; }
.rate_max { padding-left: 3px; }