body, html{ height:102%; }
/*  navbar */

.logo-container {padding-top:20px; padding-bottom:22px; margin: 0}
.navbar { margin-bottom: 0px;}
.survey-title {padding-left:15px;font-size: 20px}
.icon {padding-left: 12px;}
.left-icon {padding-right: 10px;}

#container { display: none; }

.survey {background:white !important; top:-3px;}
.leftnav {border-top: 1px solid #eee;border-left: 1px solid #eee; border-right: 1px solid #eee;color:#222222; margin-top: 51px; text-align: left; padding-left: 0; padding-right: 0}
.leftnav p { border-bottom: 1px solid #eee; padding-left:42px; padding-top: 15px; height: 49px;margin: 0}
.rightnav {border-top: 1px solid #eee;border: 1px solid #eee;color:#222222; margin-top: 51px; text-align: left; padding-left: 0; padding-right: 0}

/* page tab 처리 */
.tabs {position: relative;clear: both;margin: 53px -27px 0px -11px;background: white;}
.tab {float: left; }
.tab fieldset {background-color:white; border:1px solid #CCC; padding:30px 0px 30px 30px; margin: 9px 9px 4.5px 9px; height: 100%}
.tab fieldset.setting {border:1px solid #87B2F1;}
.tab fieldset .question { font-size: 20px; font-weight: bold; color:#222;padding-bottom: 15px;}
.tab fieldset .desc { padding-left:5px; padding-bottom: 20px; font-size: 14px; color:#14a5e6 }
.tab fieldset .required {color: red; vertical-align:text-top}
.tab fieldset .q-contain {width: 98%; float: left;}
.tab .labelfor {background: #eee; padding: 14px 12px 14px 14px; border: 1px solid #ccc; margin-left: 0; position: relative;left: 10px; top: -50px;-webkit-transition: background-color .17s linear;}
.tab .labelfor span.sel { color:rgb(44, 81, 138) }
.tab .labelfor span {color: #C1C1C1}
.tab .plus {padding: 8px; border: 1px solid #eee; margin-left: -1px; position: relative;left: 6px; top: -44px;color:#87B2F1; }
.setting {border:1px solid #87B2F1;}
.tabgroup {display: none;}
.page-title{ font-size: 1.5em; font-weight: bold;}
.page-desc{ border: 1px solid #c1c1c1; margin:3px 0px 14px; padding: 10px; width:100% }
.up_down { -webkit-appearance: none;cursor: pointer;border: 0; }
.controlContainer {padding-left: 11px; padding-right:27px;}


.tab-container {max-height:93vh; right:0;min-height:90px;position: absolute;top:-1px;width:100%;border: 1px solid #ccc; overflow-y:scroll;display:none; background-color:#f5f9fb } 
.tab [type=radio]:checked ~ .labelfor {background: white;border: 1px solid #14a5e6;border-bottom: 1px solid white;z-index: 2; color:#14a5e6}
.tab [type=radio]:checked ~ .labelfor ~ .tab-container {z-index: 1;display:block;} 

.rate [type=radio] { display: none;}
.rate button { min-width: 6em; margin:1px}
.rate [type=radio]:checked ~ label {color: #333;background-color: #e7f6fc;border-color: #14a5e6; }


.rate_min { padding-right: 3px; }
.rate_max { padding-left: 3px; }


.layer {display:block;position:absolute;width:800px;height:560px;z-index:999;box-shadow:10px 10px 50px;top:40%;left:50%}
.modal-mask {position: fixed;z-index: 9998;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .5);display: table;transition: opacity .3s ease;}
#modal .modal-items {overflow-y: auto; overflow-x:hidden; max-height:400px;min-height:400px;}
#modal .header {padding: 15px;border-bottom: 1px solid #e5e5e5;}

span.row { padding: 20px}
.setting-layout {padding-left: 15px}
/*.setting-layout input:read-only { background-color: #fff;} */
.setting-layout input[readonly] { background-color: #fff;}

textarea {resize: none;}

.modal-items option {font-size : 17px}
.modal-items option.disable {height: 10px;}
.setting-layout .delete { color: red }

.cur { cursor: pointer }
.non-width { width:auto; display:inline; }


.quesion-nowarp { color: #7f7f7f; margin-left:10%; padding-top:10px; display: inline-block; width: 89%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;white-space: normal; line-height: 30px; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 20; -webkit-box-orient: vertical;}

 .skip-question {padding: 4px; margin-left: 4px; display:inline_block; border: 1px solid gray; vertical-align: middle; border-radius: 2px; background: #efefef}